# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. SAS
5. MATLAB
6. Scala
7. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Keras
6. PyTorch
7. Matplotlib

 | Data Science Tools  |
 |-------------------- |
 | Python              |
 | Jupyter Notebook    |            
 | NumPy               |
 | Pandas              | 
 | Scikit-learn        |
 | TensorFlow          |
 | Tableau             | 
 | SQL                 |
 | Git                 |

### Below are a few examples of evaluating arithmetic expressions in Python

 | Expression              | Result |
 |-------------------------|--------|
 | 2 + 3                   | 5      |
 | 4 * 5 - 2               | 18     |
 | (6 + 2) / 4             | 2      |
 | 2 ** 3                  | 8      |
 | 10 // 3                 | 3      |
 | 10 % 3                  | 1      |

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Gabor Boda